.logo{
    height: 32px;
    width: 108px;
    margin-right: 40px;
    padding-top: 20px;
}

.container{
    display: flex;
    margin: 0 56px;
    height: 30px;
    width: 90%;
    padding: 18px 0;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.4s;
}

.container a {
    display: flex;
}

.buttonLink{
    display: block;
    background-color: #e50914;
    width: 84px;
    height: fit-content;
    color: white;
    border: 0;
    font-size: 15px;
    border-radius: 3px;
    padding: 8px 17px;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
}
.buttonLink &:hover {background-color: #f40612;}

@media (max-width: 1000px) {
    .container{margin: 0 30px;}
}

@media (min-width: 1449px) {
    .logo{
        height: 45px;
        width: 167px;
    }
}